@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&display=swap");

$background: whitesmoke;
$accent: rgb(255, 99, 71);
$accent2: rgba(158, 23, 23, 1);

// ================================================
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: $background;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

main {
  h2 {
    font-family: "Lobster", cursive;
    font-size: 40px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;

    span {
      font-family: "Lobster", cursive;
      color: $accent;
    }
  }

  #input-div {
    display: flex;
    align-items: center;

    input {
      border-radius: 5px;
      border: 1px solid $accent;
      color: #333;
      width: 250px;
      height: 30px;
      padding-left: 10px;
      background: #f5f5f5;

      &:focus {
        outline: none;
      }
    }

    button {
      margin-left: 10px;
      width: 80px;
      height: 31px;
      border-radius: 5px;
      border: none;
      color: $accent;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
      background-color: $background;
      cursor: pointer;

      &:hover {
        border: none;
        color: $background;
        background: rgb(255, 99, 71);
        background: radial-gradient(circle, $accent 0%, $accent2 100%);
      }
    }
  }
}

footer {
  margin-top: 10px;

  a {
    text-decoration: none;
    color: #333;
  }
}

// main {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   margin: 5% auto;
//   background: white;
//   width: 400px;
//   min-height: 100px;
//   background-color: white;
//   border: transparent outset 10px;
//   border-radius: 10px;
//   box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
//     rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
//     rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
// }

// h2 {

// }

// #passwordInput {
//   align-items: center;
// }

// input {

// }

// input:focus,
// input:focus {
//   outline: none;
//   border: 1px solid darkblue;
//   color: darkblue;
// }

// button {
//   width: 80px;
//   height: 30px;
//   border-radius: 5px;
//   color: #f5f5f5;
//   background: rgb(55, 75, 155);
//   box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
//   align-self: center;
//   margin-left: 10px;
// }

// div p {
//   color: white;
//   background: darkred;
//   margin: 30px auto;
// }

// h1 {
//   font-family: "Lobster", cursive;
//   color: #333;
//   text-align: center;
//   padding: 10px 50px;
//   font-size: 1.5em;
//   background: white;
//   border-radius: 10px;
//   border: none;
//   max-width: 400px;
//   display: none;
// }

// /* Footer */

// footer {
//   position: fixed;
//   width: 100%;
//   height: 25px;
//   left: 0;
//   bottom: 0px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// #footer {
//   font-family: "Bebas Neue";
//   letter-spacing: 2px;
//   font-size: 12px;
//   font-weight: 600;
//   margin-left: 35px;
//   color: #333;
//   background: none;
// }

// footer > div {
//   margin-right: 35px;
//   font-size: 18px;
// }

// i {
//   margin-left: 10px;
//   text-decoration: none;
//   color: #333;
// }

// @media only screen and (max-width: 600px) {
//   body {
//     margin-top: 25%;
//   }
// }
